# Config file for automatic testing at travis-ci.org

language: python
matrix:
    include:
      - python: 2.7
        env: TOX_ENV=py27
      - python: 3.4
        env: TOX_ENV=py34
      - python: 3.5
        env: TOX_ENV=py35
      - python: 3.6
        env: TOX_ENV=py36
      - python: 3.6
        env: TOX_ENV=flake8

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox-travis

# Command to run tests, e.g. python setup.py test
script: tox -e $TOX_ENV

# Auto deployment to pypi
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: sneakypete81
  password:
    secure: tB8dmu4yKFtwCaigV65Sx1UANimolOVR6v9i7u24cf/1b+fREoW2vex2L6r8BbkLvSakkbvEU9xJRhVv2fau5zGI5m3eJeY4gXXD8IJy6tZLHUEKrLFbcvpTtqM6pMjkqQo+YRlfahanMiv0KNfPXYtSExqEblQs1IuKDyRwaWSZ0/Iu7Kl0sOUeq28UHjCLreMm2ha8rL09D49/XV78qfUH73jcaZh9zTaLSL/06rxW6oWFHR5fJyGYwQaZQyAmfxJzQk0rP3wL5PmE9sfC5p1rSBq+iqIqjWnKPh3XX3qhSVJjHalrKk1rfdwh8+xvpJy2JWL+wKPz7+tY02QJl/Q0CpsHG+5SwKAY5+bbK8d1z1DzwgEyWeTwVaOH+F3FxhwOtM1YN0q7KCCI+TW/YXfO4vrUokLYEvw7jdIhYH+OSHR5bxfgKdPDqacFDoyg3tw404HYIFPbCliOaQwGll/mTdXm2VlZU6an6mPaZLdHAQ+FQNG/DcBaBRhfbuCnpmp+TpnX3WAPwLeUPwKV6xuM6keuUCUDNrsFnmURoNdRaIvNV3u990oU/Qyr/LMjmPQvmjUac39CxS084DwRAgy6OyTvr996mGVpHRKoxECfEoGytCSVf0zQwJiOtTu7IrXXPdzR+nb/EVCu77Q/oCI1pSvTuvXRqJ7seeiVvuc=
  on:
    tags: true
    repo: sneakypete81/usb_iss
    condition: TOX_ENV = py36
