bumpversion==0.5.3
coverage==5.3
flake8==4.0.1
matchmock==1.0.0
nose-py3==1.4.0
numpy==1.19.5
pip==21.3.1
pyhamcrest==2.0.3
sphinx==2.4.4
sphinxcontrib-napoleon==0.7
sphinx-rtd-theme==0.4.3
twine==3.7.1; python_version=='3.8'
tox==3.24.5
wheel==0.37.1

-r requirements.txt
